# EditorConfig helps maintain consistent coding styles
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.sh]
indent_style = unset

# Markdown (keep trailing spaces for formatting)
[*.md]
trim_trailing_whitespace = false

# YAML
[*.yml]
indent_size = 2

# JSON
[*.json]
indent_size = 2
