*.log
*-*.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.pid
*.seed
*.pid.lock
*.temp
/tmp
node_modules/
.npm
*.tgz
.env
.env.*
.temp
.cache
.idea
.vscode
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.orig
